        body {
            background-image: url('pic13.jpg');
            background-size: cover;
            font-family: sans-serif;
        }

        h1 {
            text-align: left;
        }

        .Picture {
            display: block;
			width: 200;
        }

        /* Zebra-striped table */
        table {
            border-collapse: collapse;
            width: 20%;
			height: 10%;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: lightblue;
        }

        /* Unordered List */
        .hobbies-list {
            text-align: left;
            max-width: 300px;
        }

        /* Links */
        a {
            color: black;
            text-decoration: none;
            transition: color 0.3s;
        }

        a:hover {
            color: #ff9900;
        }

        /* Red and bold text with <span> */
        .red-bold {
            color: red;
            font-weight: bold;
        }